[user]
	name = Neko Juers
	email = neko.juers@gmail.com
[core]
	excludesfile = /Users/nekoj/.gitignore_global
[alias]
	tree = log --branches --remotes --tags --graph --decorate --pretty=oneline --abbrev-commit
	tracked = !"git ls-tree -r \"$1\" --name-only #"
    prompthelp = !"cat $HOME/.gitaliases/git-prompthelp.txt"
	unstage = reset HEAD
	staged = diff --staged
	wip = reset HEAD~1
	ctags = !.git/hooks/ctags
[push]
	default = simple
[mergetool]
	keepBackup = false
	prompt = false
[rebase]
	autosquash = true
[init]
	templatedir = ~/.git_template
[pull]
	rebase = preserve
[include]
    path = ~/.gitaliases/*
[merge]
	conflictstyle = diff3
	mergetool = vimdiff
