[user]
	name = Neko Juers
	email = njuers@globalnoc.iu.edu
[core]
	excludesfile = /Users/nekoj/.gitignore_global
	editor = vim
[alias]
	tree = log --branches --remotes --tags --graph --decorate --pretty=oneline --abbrev-commit
	tracked = !"git ls-tree -r \"$1\" --name-only #"
    prompthelp = !"cat $HOME/.gitaliases/git-prompthelp.txt"
	unstage = reset HEAD
	staged = diff --staged
	wip = reset HEAD~1
	ctags = !.git/hooks/ctags
[push]
	default = simple
[mergetool]
	keepBackup = false
	prompt = false
[rebase]
	autosquash = true
[init]
	templatedir = ~/.git_template
[pull]
	rebase = preserve
[filter "dropoutput_nb"]
    clean = mathematica-notebook-filter
    smudge = cat
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	conflictstyle = diff3
	tool = nvr
[diff]
    tool = nvr
[difftool "nvr"]
    cmd = nvr -s -d $LOCAL $REMOTE
[mergetool "nvr"]
    cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
[include]
    path = ~/.gitaliases/*
	tool = nvr
[diff]
    tool = nvr
[difftool "nvr"]
    cmd = nvr -s -d $LOCAL $REMOTE
[mergetool "nvr"]
    cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
