.config/nvim/plugged/
*.pyc
.config/nvim/.netrwhist
.config/org.sparkleshare.SparkleShare/
.atom/.apm/
.atom/compile-cache/
.atom/storage/
.atom/blob-store/
.atom/compile-cache/
.atom/recovery/
.config/fish_variables
.config/fish/fish_variables
.config/inkscape/extension-errors.log
.jupyter/lab/workspaces
.config/fish/completions/
.config/fish/fishfile
.hammerspoon/Spoons
.tags
.config/nvim/plugged
.tags
.tmux/resurrect/*
bin/ext4fuse
.config/Autodesk
.config/gtk-2.0
.ipython/
.tmux/plugins
